[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "WSGeometry"]
	path = WSGeometry
	url = https://github.com/cran/WSGeometry
	shallow = true
	registered = true
